<div class="collapse in col-md-12 visible-md visible-lg  " id="timerpanel">
	<div class="row well custom-well">
		<div class="col-md-12 col-sm-12 col-xs-12 ">

			<div class="col-md-6 col-sm-12 col-xs-12 ">
				<h4 class="timer-panel-light">What you will need at a glance:</h4>
				<ul class="list-unstyled">
					<li><table>
							<tr>
								<td class="timer-panel-text"><label><span
										class="badge custom-badge-info  ui-question-text-number">1</span></label></td>
								<td><h6 class="timer-panel-text">Information about
										where you live</h6></td>
							</tr>
						</table></li>
					<table>
						<tr>
							<td class="timer-panel-text"><label><span
									class="badge custom-badge-info  ui-question-text-number">2</span></label></td>
							<td><h6 class="timer-panel-text">Birth dates</h6></td>
						</tr>
					</table>
					<li>
						<table>
							<tr>
								<td class="timer-panel-text"><label><span
										class="badge custom-badge-info  ui-question-text-number">3</span></label></td>
								<td><h6 class="timer-panel-text">Contact Information</h6></td>
							</tr>
						</table>
					</li>
				</ul>

			</div>
		</div>
		<div class=" col-md-12 col-sm-12 col-xs-12  pull-right"
			style="padding-right: 15px;">
			<a href="" data-toggle="collapse" data-target="#timerpanel"
				class="btn  formbuttoncommon  pull-right btn-primary"><h6>
					Get Started</h6> </a>
		</div>
	</div>
</div>
<div class="col-md-12 visible-md visible-lg  ">
	<a href="" data-toggle="collapse" data-target="#timerpanel"><div
			class="host-collapse-panel">
			<span class="fa fa-bars header-icon"></span>
		</div> </a>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12  ">
		<h3 class='benefit-header3 common'>
			<span class=" fa-cutlery fa   "></span> My Experince

		</h3>
		<h5 class="headertxt ">
			<b>Enter a few details about your experience </b> <br> Below you
			can view applications you have submitted and continue editing open
			applications.<br>
		</h5>
	</div>

</div>

<div class="row col-md-12   ">
	<form>
		<div class="form-group ">
			<label for="exampleInputEmail1">Title</label> <input type="email"
				placeholder="e.g. Spanish tapas and seafood paella with live guitar!"
				class="form-control override-form-control" id="exampleInputEmail1"
				placeholder="Email">

		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Description</label>
			<textarea class="form-control override-form-control" rows="5"
				placeholder="e.g. This will be a night of fresh seafood inspired by my time living off the Italian coast. I have 3 delicious courses planned for you, as well as a specialty wine from the Toscana region, which we will be sipping on my roof. "
				id="inputEventTitle" name="inputEventTitle"></textarea>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Listing Type</label> <select
				id="inputMealType" data-placeholder="Select"
				ng-model="meal.data.type" class="form-control override-form-control"><option
					value="0">Breakfast</option>
				<option value="" class="" selected="selected">Choose
					Listing Type</option>
				<option value="1">Brunch</option>
				<option value="2" selected="selected">Lunch</option>
				<option value="3">Dinner</option>
				<option value="4">Snacks &amp; Drinks</option>
				<option value="5">Wine/Drink Tasting</option>
				<option value="6">Food Tour</option>
				<option value="7">Cooking Class</option>
				<option value="8">Food Experience</option></select>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1"> Cuisine Type</label> <select
				ng-model="newCuisineType" class="form-control override-form-control"
				data-placeholder="Choose 1 or more">Choose 1 or more
				</option>
				<option value="" class="" selected="selected">Choose 1 or
					more</option>
				<option value="0">Afghan</option>
				<option value="1">African</option>
				<option value="2">American</option>
				<option value="3">Argentinian</option>
				<option value="4">Asian</option>
				<option value="5">Australian</option>
				<option value="6">Balkan</option>
				<option value="7">Barbecue</option>
				<option value="8">Belgian</option>
				<option value="9">Brazilian</option>
				<option value="10">British</option>
				<option value="11">Burmese</option>
				<option value="12">Cajun &amp; Creole</option>
				<option value="13">Caribbean</option>
				<option value="14">Catalan</option>
				<option value="15">Chinese</option>
				<option value="16">Colombian</option>
				<option value="17">Cuban</option>
				<option value="18">Desserts/Bakeries</option>
				<option value="19">Salvadoran</option>
				<option value="20">European</option>
				<option value="21">Eastern European</option>
				<option value="22">Ethiopian</option>
				<option value="23">Filipino</option>
				<option value="24">French</option>
				<option value="25">Fusion</option>
				<option value="26">Gastropub Food</option>
				<option value="27">Georgian</option>
				<option value="28">German</option>
				<option value="29">Greek</option>
				<option value="30">Hawaiian</option>
				<option value="31">Hungarian</option>
				<option value="32">Ice Cream/Gelato</option>
				<option value="33">Indian</option>
				<option value="34">Indonesian</option>
				<option value="35">Iranian</option>
				<option value="36">Irish</option>
				<option value="37">Israeli</option>
				<option value="38">Italian</option>
				<option value="39">Japanese</option>
				<option value="40">Jewish</option>
				<option value="41">Korean</option>
				<option value="42">Latin American</option>
				<option value="43">Malaysian</option>
				<option value="44">Mediterranean</option>
				<option value="45">Mexican</option>
				<option value="46">Middle Eastern</option>
				<option value="47">Moroccan</option>
				<option value="48">Nigerian</option>
				<option value="49">Nordic</option>
				<option value="50">Pakistani</option>
				<option value="51">Persian</option>
				<option value="52">Peruvian</option>
				<option value="53">Pizza</option>
				<option value="54">Polish</option>
				<option value="55">Polynesian</option>
				<option value="56">Portuguese</option>
				<option value="57">Russian</option>
				<option value="58">Scandinavian</option>
				<option value="59">Seafood</option>
				<option value="60">Singaporean</option>
				<option value="61">Soul Food</option>
				<option value="62">South African</option>
				<option value="63">Spanish</option>
				<option value="64">Sri Lankan</option>
				<option value="65">Taiwanese</option>
				<option value="66">Tapas/Small Plates</option>
				<option value="67">Thai</option>
				<option value="68">Turkish</option>
				<option value="69">Vietnamese</option>
				<option value="70">Other</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary pull-right"
			style="margin-bottom: 30px;">
			Next <i class="fa fa-chevron-right"></i>
		</button>
	</form>
</div>


