<link href="css/header.css" rel="stylesheet">
<div ui-view>
	<div class=" map-container" ng-controller="guestConsoleController">
		<div class="col-md-12">
			<div
				class="col-md-7 col-sm-12 col-lg-7 override-col-margin col-xs-12 slidebar"
				style="padding-bottom: 100.5px;">
				<form class="form-horizontal form-container">

					<fieldset>
						<legend></legend>
						<div class="form-group">

							<div class="col-lg-4 col-margin-top col-md-4 col-sm-4 col-xs-12">

								<div class='input-group date' id='datetimepicker1'>


									<input type="text" class="form-control" maxlength="28"
										data-toggle="tooltip" data-placement="top"
										title="Enter Date of Birth"
										datepicker-options="calendar.dateOptions" name="PP44"
										id="PP44" datepicker-popup="{{calendar.dateFormat}}"
										is-open="openDatePickers[1]" ng-maxlength="10" ng-model="dob"
										datepicker-options="calendar.dateOptions" close-text="Close"
										placeholder="mm/dd/yyyy" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open($event, 1)" id="calResizing">
											<i class="fa fa-calendar"></i>
										</button>
									</span>

								</div>

							</div>



							<div class="col-lg-6 col-margin-top col-md-6 col-sm-6 col-xs-12">
								<select class="form-control empty" id="select">
									<option>number of guests</option>
									<option>1 Guest</option>
									<option>2 Guest</option>
									<option>3 Guest</option>
									<option>4 Guest</option>
									<option>5 Guest</option>
								</select>
							</div>
						</div>
						<div class="form-group">


							<div class="col-lg-10 col-xs-12 col-md-10 col-sm-12">
								<div
									class="col-lg-2 col-md-2 override-col-margin col-sm-2 col-xs-2">

									<div class="checkbox">
										<label class="checkbox-label"> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											Lunch
										</label>
									</div>

								</div>

								<div
									class="col-lg-2 col-md-2 override-col-margin col-sm-2 col-xs-2">

									<div class="checkbox">
										<label class="checkbox-label"> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											Drinks
										</label>
									</div>
								</div>
								<div
									class="col-lg-2 col-md-2 override-col-margin col-sm-2 col-xs-2">

									<div class="checkbox">
										<label class="checkbox-label"> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											Dinner
										</label>
									</div>
								</div>
								<div
									class="col-lg-2 col-md-2 override-col-margin col-sm-2 col-xs-2">

									<div class="checkbox">
										<label class="checkbox-label"> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											Brunch
										</label>
									</div>
								</div>
								<div
									class="col-lg-3 col-md-3 override-col-margin col-sm-3 col-xs-3">


									<div class="checkbox">
										<label class="checkbox-label"> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											Breakfast
										</label>
									</div>

								</div>
							</div>



						</div>
						<div class="form-group">

							<div class="col-lg-10">

								<rzslider rz-slider-floor="priceSlider.floor"
									rz-slider-ceil="priceSlider.ceil"
									rz-slider-model="priceSlider.min"
									rz-slider-high="priceSlider.max"></rzslider>
								<br /> <label class="col-margin-top">minimum price :-
									{{priceSlider.min}} , maximul price:- {{priceSlider.max}}</label>
							</div>
						</div>


						<div class="form-group">
							<div class="col-lg-10 ">
								<button type="submit" class="btn btn-primary">modify</button>
								<button type="submit" class="btn btn-primary">reset</button>
							</div>
						</div>
					</fieldset>
				</form>

				<div class="row jumbotron">
					<div class="container locations">
						<div class="text-center col-md-12 col-sm-12 col-xs-12 ">
							<div class="pull-left">
								<button class="btn btn-default btn-raised">Filters</button>

							</div>
							<div class="pull-right">

								<a href="">Jaipur Rajasthan</a>

							</div>
						</div>
						<div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a> <a
										href="/rooms/4774115?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
										target="listing_4774115"
										class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
										<div>
											<sup class="h6 text-contrast"><i class="fa fa-usd"></i></sup>
											<span class="h3 text-contrast price-amount">734</span> <sup
												class="h6 text-contrast"></sup> <span class="h3 icon-beach">
												<i class="icon icon-instant-book icon-flush-sides"></i>
											</span>
										</div>

									</a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a> <a
										href="/rooms/4774115?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
										target="listing_4774115"
										class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
										<div>
											<sup class="h6 text-contrast"><i class="fa fa-usd"></i></sup>
											<span class="h3 text-contrast price-amount">734</span> <sup
												class="h6 text-contrast"></sup> <span class="h3 icon-beach">
												<i class="icon icon-instant-book icon-flush-sides"></i>
											</span>
										</div>

									</a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a> <a
										href="/rooms/4774115?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
										target="listing_4774115"
										class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
										<div>
											<sup class="h6 text-contrast"><i class="fa fa-usd"></i></sup>
											<span class="h3 text-contrast price-amount">734</span> <sup
												class="h6 text-contrast"></sup> <span class="h3 icon-beach">
												<i class="icon icon-instant-book icon-flush-sides"></i>
											</span>
										</div>

									</a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a> <a
										href="/rooms/4774115?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
										target="listing_4774115"
										class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
										<div>
											<sup class="h6 text-contrast"><i class="fa fa-usd"></i></sup>
											<span class="h3 text-contrast price-amount">734</span> <sup
												class="h6 text-contrast"></sup> <span class="h3 icon-beach">
												<i class="icon icon-instant-book icon-flush-sides"></i>
											</span>
										</div>

									</a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href=""
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href=""
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href=""
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-6  col-sm-6  col-xs-6 ">
								<div class="container angular-guest-slider"
									ng-controller="sliderController">
									<img ng-repeat="slide in slides"
										class="angular-slide slide-animation nonDraggableImage"
										ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
										ng-hide="!isCurrentSlideIndex($index)"
										ng-src="{{slide.image}}"> <i
										class="icon icon-heart-alt icon-white icon-size-2"
										id="wishlist-widget-icon-4696450"></i> <a class="arrow prev"
										href="#" ng-click="nextSlide()"><i
										class="fa fa-chevron-left arrow-signals"></i></a> <a
										class="arrow next " href="#" ng-click="prevSlide()"><i
										class="fa fa-chevron-right arrow-signals"></i></a>
								</div>

								<div class="panel-body panel-card-section">
									<div class="media">
										<a href="#/guest/hostitems"
											class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
											<div class="media-photo media-round">
												<img
													src="https://a1.muscache.com/ac/users/8096327/profile_pic/1376288532/original.jpg"
													alt="I am an avid traveller who loves exploring destina">
											</div>
										</a>
										<h3 class="h5 listing-name text-truncate row-space-top-1">
											<a href="" target="listing_4696450" class="text-normal">
												CrashPad - 6 Bunker Room &amp; B'fast </a>
										</h3>
										<div itemprop="description"
											class="text-muted listing-location text-truncate">
											<span> <a
												href="/rooms/4696450?checkin=08-12-2015&amp;checkout=10-12-2015&amp;s=15_aUHWw"
												target="listing_4696450" class="text-normal link-reset">
													Shared room <i class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star-o icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> <i
													class="fa fa-star icon-light-gray"></i> 11 reviews
											</a>
											</span>
										</div>
									</div>

								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="results-footer">
					<div class="nearby-links">
						More places to stay in Jaipur: <a class="text-muted"
							href="/s/Jaipur--India?type=apartment"> Apartments </a> .<a
							class="text-muted" href="/s/Jaipur--India?type=house"> Houses
						</a> . <a class="text-muted" href="/s/Jaipur--India?type=bnb"> Bed
							&amp; Breakfasts </a>.<a class="text-muted"
							href="/s/Jaipur--India?type=loft"> Lofts </a>.<a
							class="text-muted" href="/s/Jaipur--India?type=villa"> Villas
						</a>

						<div class="space-top-1">
							People also stay in <a class="text-muted"
								href="/s/New-Delhi--India"> {{query.components.city}} </a>.<a
								class="text-muted" href="/s/Mumbai--India">
								{{query.components.state}} </a>.<a class="text-muted"
								href="/s/Kathmandu--Nepal"> {{query.components.country}} </a>.<a
								class="text-muted" href="/s/Bangalore--India"> Bangalore </a>.<a
								class="text-muted" href="/s/Kandy--Sri-Lanka">
								{{query.components.postCode}} </a>

						</div>
						<div class="breadcrumbs row-space-top-1" itemprop="breadcrumb">
							<span itemscope=""
								itemtype="http://data-vocabulary.org/Breadcrumb"> <a
								href="/s/India" itemprop="url"> <span itemprop="title">India</span>
							</a> <i class="icon icon-chevron-right breadcrumb-spacer"></i>
							</span> <span itemscope=""
								itemtype="http://data-vocabulary.org/Breadcrumb"> <a
								href="/s/Rajasthan--India" itemprop="url"> <span
									itemprop="title">Rajasthan</span>
							</a> <i class="icon icon-chevron-right breadcrumb-spacer"></i>
							</span> <a href="/s/Jaipur--India?sublets=monthly"> <span>Jaipur</span>
							</a>
						</div>
					</div>
				</div>

			</div>
			<div
				class="col-md-5 col-lg-5 hidden-sm hidden-xs override-col-margin ">

				<div class="angular-google-map-container map-canvas"
					ng-controller="guestConsoleController">
					<ui-gmap-google-map center="map.center" zoom="map.zoom"
						draggable="true" options="map.options" events="map.events"
						control="googlemap"> <ui-gmap-window
						coords="markers.coords" show="windowOptions.show"
						options="windowOptions" closeClick="closeClick()">


					</ui-gmap-window> <ui-gmap-markers models="markers" idkey="markers.id"
						coords="'coords'" click="'onClick'" events="markers.events">
					</ui-gmap-markers> </ui-gmap-google-map>
				</div>

			</div>
		</div>

	</div>
</div>
