<div class="row-fluid">
	<div class="hero-bg-img cover-img" class="landing-hero">

		<div id="searchbox-hostitems"
			 class="search-field-area col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 ng-scope">
			<div class="search-background">
				<div class="search-input-area">
					<div class="row container-fluid">
						<div class="col-md-12">

							<div class="col-md-3 col-sm-4 col-xs-12 space-sm-4 text-center space-sm-2">
								<div class="media-photo-badge">
									<a href="#host-profile" class="media-photo media-round"><img
											alt="shared.user_profile_image" class="host-profile-image"
											height="115" width="115" data-pin-nopin="true"
											src="https://a0.muscache.com/ac/users/23917331/profile_pic/1416590409/original.jpg"
											title="Roadhouse"></a>
								</div>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-12 ">
								<h2 itemprop="name"
									class="overflow h3 visible-md visible-sm visible-xs visible-lg space-1 text-center-sm"
									id="listing_name">Roadhouse Hostels Jaipur</h2>

								<div id="display-address"
									 class="space-2 text-muted visible-md visible-sm visible-lg text-center-sm"
									 data-location="Jaipur, Rajasthan, India">
									<a href="#neighborhood" class="link-reset">Jaipur,
										Rajasthan, India</a>
								</div>
								<div class="col-md-12 visible-md visible-sm visible-lg">
									<div class="row row-condensed text-muted text-center">
										<div class="col-sm-4 override-col-margin">
											<i class="fa fa-home icon-size-2"></i>
											<div class="col-sm-12">#3 Dishes</div>
										</div>
										<div class="col-sm-4 override-col-margin">
											<i class="fa fa-glass icon-size-2"></i>
											<div class="col-sm-12">Drink Events</div>
										</div>
										<div class="col-sm-4 override-col-margin">
											<i class="fa fa-cutlery icon-size-2"></i>
											<div class="col-sm-12">Food Events</div>
										</div>
									</div>

								</div>
							</div>

						</div>

					</div>


				</div>
			</div>

		</div>
	</div>
</div>
<div class="quick-facts-bar text-center container col-md-12"
	 style="background: rgba(240, 238, 229, 0.36);">
	<div class="meal-title-overlay">
		<div class="centered-reading-area">
			<div class="row-fluid">
				<h3 class="main-meal-title ng-binding">Italian, gluten and
					lactose free and good!</h3>
				<div class="main-city">
					<i class="fa fa-map-marker"></i><span class="ng-binding">&nbsp;Merode
						- Brussels, Belgium</span>
				</div>

				<div ng-show="meal.data.isVerification" class="verification-label ">
					<img
							src="//s3.amazonaws.com/bookalokal-assets/images/bookalokal_glass.png">Verification
					Event
				</div>
			</div>
		</div>
	</div>
</div>
<div class=" container-fluid ng-scope">
	<div id="summary" class="col-md-8 col-sm-7 col-xs-12">
		<div id="host-divview" class="push-ten-down">
			<h3 class="green text-center meet-host-title ng-binding">Meet
				Gaia</h3>
			<div class="row-fluid">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div>
						<div alt="Gaia's Photo" class="img-circle meal-host-pic-large"
							 style="background-image: url(&quot;//d2j4un8xfk9t92.cloudfront.net/bcpsazxR0CNeNZlmSAAt_DSCF5223%20-%20Copy.jpg&quot;); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
					</div>

				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="row-fluid">
					<div class="row-fluid push-ten">
						<h6 style="color: black;" class=" ng-binding">I'm a Jamie
							Oliver Volunteer Ambassador for Belgium, 1 year of Professional
							Cooking at CERIA and always studying to create original new
							dishes ; I'm Italian and I've been cooking since I was 16. My
							father from the North and my mother from the South, I'm
							passionate and curious about natural food and nutrition (A
							Doctorate in Biology and a Diploma on Advanced Nutrition and
							Naturopathy) and healthy but tasty ways to transform the
							traditional Italian kitchen; I meditate, practice yoga and
							relaxation techniques, and learning massage therapies.</h6>
					</div>
				</div>
				<div class="row-fluid push-twenty">
					<button ng-click="scrollToElement('.about-me-section')"
							class="btn btn-primary">Learn More
					</button>
					<button ng-click="showCreateDialog(host, meal)"
							ng-controller="ConversationController"
							class="btn btn-primary shove15 ng-scope ng-binding">Contact
						Gaia
					</button>
				</div>
				<div class="row-fluid push-thirty-top">
					<div style="margin-left: 0;" class="col-md-4 col-sm-4  about-me-subheader">
						<div style="width: 128px" class="text-center">
							<small>BookaLokal Verified</small>
							<br>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg"
									 version="1.1"
									 id="Layer_1" x="0px" y="0px" viewBox="5.0 5.0 90.0 90.0"
									 enable-background="new 0 0 160 160" xml:space="divserve"
									 height="50px" width="50px">
									<path fill="#60a81a"
										  d="M68.604,36.099L43.513,61.19L32.396,50.073c-0.781-0.781-2.048-0.781-2.828,0  c-0.781,0.781-0.781,2.047,0,2.828l12.531,12.532c0.375,0.375,0.884,0.585,1.414,0.585s1.039-0.21,1.414-0.585l26.506-26.506  c0.781-0.781,0.781-2.047,0-2.828S69.385,35.317,68.604,36.099z"></path>
									<path fill="#60a81a"
										  d="M50,8C27.234,8,8,27.233,8,50s19.234,42,42,42s42-19.233,42-42S72.766,8,50,8z M50,88  c-20.598,0-38-17.402-38-38s17.402-38,38-38s38,17.402,38,38S70.598,88,50,88z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div style="margin-left: 0;" class="col-md-4 col-sm-4 about-me-subheader">
						<div style="width: 135px;" class="text-center">
							<small>Languages spoken</small>
							<div class="push-five ng-binding">Italian, English, French,
								Spanish, Portuguese
							</div>
						</div>
					</div>
					<div style="margin-left: 0;" class="col-md-4 col-sm-4 about-me-subheader">
						<div style="width: 155px" class="text-center">
							<small>Guests ate with host</small>
							<div class="host-facts-number push-five ng-binding">211</div>
						</div>
					</div>
				</div>

				<div class="divider-fork-horizontal text-center">
					<img
							src="//s3.amazonaws.com/bookalokal-assets/images/divider-fork-horizontal.png"
							width="300px">
				</div>
				<div id="on-the-menu"
					 class="push-thirty push-thirty-top text-center">
					<h3 class="green push-thirty text-center">On the Menu</h3>
					<div class="push-twenty">
						<i class="fa fa-cutlery semi-muted"></i><span
							class="meal-subheaders">&nbsp;Cuisine Type:&nbsp;</span><span
							ng-class="{'muted' : meal.data.descriptions.cuisineType == null}"
							class="ng-binding">American, Fusion, Tapas/Small Plates,
							Other</span>
					</div>

					<div class="push-thirty-top">
						<div class="meal-subheaders">Main Dish or Food Experience</div>
						<div id="overflow-main-dish" itemprop="menu" class=" ng-binding">Summer
							Canape selection: Truffled Egg bites Cucumber and Vine-ripe
							Tomato Salad cups Sirloin-Burger sliders, open-faced BBQ Chicken
							with Carla's Secret-Recipe Cole Slaw ...and more! (Menu varies
							seasonally; we use only the best and the freshest ingredients!)
						</div>
					</div>
					<div class="push-thirty-top ng-hide">
						<div class="meal-subheaders">Dessert</div>
						<div id="overflow-dessert" itemprop="menu" class=" ng-binding"></div>
					</div>
					<div class="push-thirty-top">
						<div class="meal-subheaders">Drinks</div>
						<div id="overflow-drinks" itemprop="menu" class=" ng-binding">Cava
							to get things started, plus bottomless beer, wine and soft
							drinks.
						</div>
						<br>
					</div>
					<div class="push-thirty-top">
						<div class="meal-subheaders push-five-down">Beverages
							included&nbsp;</div>
						<span class=" ng-binding">Wine, Beer, Soda/Juice/etc.,
							Water</span>
					</div>
				</div>
				<div class="divider-fork-horizontal text-center">
					<img
							src="//s3.amazonaws.com/bookalokal-assets/images/divider-fork-horizontal.png"
							width="300px">
				</div>
				<div class="push-thirty-top">
					<h3 class="green push-thirty text-center">Description</h3>
					<div id="overflow-description" class=" ng-binding">A feast
						for foodies and creatives: Amid a buffet of art supplies, stunning
						city views and Chef Carla's mouth-watering hors d'oeuvres, guests
						can let inspiration flow. For those who want instruction, Artist
						Annie will guide step-by-step through a cityscape painting - but
						freewheelers welcome!. Includes a glass of bubbly to get things
						started, and we'll keep the wine, beer and soft drinks flowing.
						Take-home canvas and paper provided, plus unlimited use of
						watercolor and acrylic paints, oil pastels, easels, brushes,
						aprons - and the happy creative vibes that money can't buy.
						Perfect for team-building, bachelor/ettes, reunions, or
						just-because-we're-fun occasions.
					</div>
				</div>
				<div id="experience-details" class="row-fluid push-thirty">
					<div class="row-fluid">
						<div class="col-md-12  col-xs-12 col-xs-12 override-col-margin">

							<div class="col-md-6 col-sm-6 col-xs-12 override-col-margin">
								<div>
									<span class="meal-subheaders">Experience Details</span>
								</div>
								<table>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-cutlery"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">Food
												Experience</span></td>
									</tr>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-user"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">6
												- 20 Guests</span></td>
									</tr>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-clock-o"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">3-4
												Hours</span></td>
									</tr>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-map-marker"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">Upper
												East Side</span></td>
									</tr>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-envelope"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">All
												guests from BookaLokal</span></td>
									</tr>
									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<i class="fa fa-glass"></i>
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">We
												serve alcohol + BYO</span></td>
									</tr>

									<tr style="padding-left: 0px;">
										<td class="padding-tb">
											<div class="pull-left">
												<img
														src="//s3.amazonaws.com/bookalokal-assets/icons/serving.png"
														style="margin-left: -2px;" alt="Hosting Style">
											</div>
										</td>
										<td class="padding-tb"><span class="ng-binding">Whatever
												the guests divfer</span></td>
									</tr>

								</table>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12 override-col-margin">
								<div class="col-md-12 col-xs-12 col-xs-12 override-col-margin">
									<span class="meal-subheaders">Location Details</span>
								</div>
								<div class="col-md-12 col-xs-12 col-xs-12">
									<table style="padding-left: 0px;">
										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<i class="fa fa-home"></i>
												</div>
											</td>
											<td class="padding-tb"><span class="ng-binding">Private
													Home/Apartment</span></td>
										</tr>
										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<img
															src="//s3.amazonaws.com/bookalokal-assets/icons/snowflake2.png"
															style="margin-left: -2px;" alt="Is there AC?">
												</div>
											</td>
											<td class="padding-tb"><span>AC Available</span></td>
										</tr>

										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<img
															src="//s3.amazonaws.com/bookalokal-assets/icons/smoking.png"
															alt="Is smoking allowed?">
												</div>
											</td>
											<td class="padding-tb"><span class="ng-binding">Allowed
													inside</span></td>
										</tr>
										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<i class="fa fa-wheelchair"></i>
												</div>
											</td>
											<td class="padding-tb"><span class="ng-binding">No
													Stairs</span></td>
										</tr>
										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<i class="fa fa-fire"></i>
												</div>
											</td>
											<td class="padding-tb"><span>Heating</span></td>
										</tr>
										<tr style="padding-left: 0px;">
											<td class="padding-tb">
												<div class="pull-left">
													<i class="fa fa-car"></i>
												</div>
											</td>
											<td class="padding-tb"><span class="ng-binding">Paid
													parking nearby</span></td>
										</tr>


										<tr style="padding-left: 0px;">
											<td>
												<div class="pull-left">
													<i class="fa fa-home"></i>
												</div>
											</td>
											<td class="padding-tb"><span class="ng-binding">Wifi
													available</span></td>
										</tr>


									</table>
								</div>
							</div>

						</div>
					</div>
					<div id="mealMapContainer" class="row-fluid push-thirty-top">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-5 col-xs-12">

		<div class="wrapper-sticky"
			 style="display: block; height: 540px;  margin: auto; position: relative; float: none; left: auto; right: auto; top: auto; bottom: auto; vertical-align: top;">
			<div id="booking-affix" class="booking-module push-twenty"
				 style="top: 0px; bottom: auto; left: 0px; right: auto; min-width: 280px; position: absolute;">
				<div>
					<div class="row-fluid">
						<h4 class="green raleway text-center">Reserve Your Spots</h4>
						<div class="text-center push-thirty push-thirty-top">
							<div class="meal-price">
								<span itemprop="currency" class="ng-binding">$</span><span
									itemprop="price" class="ng-binding">38</span>
							</div>
							<div class="push-twenty">
								<small>per guest</small>
							</div>
						</div>
						<div class="ng-hide">
							<h4 class="muted">Set price</h4>
							<div style="margin-top: -8px;">
								<small>per guest</small>
							</div>
						</div>
						<div class="ng-hide">
							<h2 class="raleway push-twenty">Free</h2>
						</div>
					</div>
				</div>
				<hr class="no-margin">
				<div class="row-fluid scheduled-row">


					<div>
						<div style="border-bottom: 0;" class="row-fluid scheduled-row">
							<div class="col-md-7  override-col-margin">
								<i class="fa fa-money"></i>&nbsp; Total Amount
							</div>
							<div class="col-md-3 override-col-margin">
								<span class="main-meal-total semi-muted ng-binding">$60</span>
							</div>
						</div>
						<div style="margin-top: -4px;"
							 ng-hide="meal.data.price.price == 0"
							 class="row-fluid text-center muted">
							<span ng-hide="paymentDetails.tip+paymentDetails.tax > 0"
								  class="ng-binding">includes $0.00 service fee</span><span
								ng-show="(paymentDetails.tip+paymentDetails.tax) > 0"
								class="ng-hide">excludes service fee, tax &amp; tip</span>
						</div>
					</div>

				</div>
				<hr class="no-margin">
				<div class="scheduled-row">
					<div>
						<div class="row-fluid">
							<div>
								<i class="fa fa-user semi-muted"></i>&nbsp; Guests attending:
								&nbsp; <select style="margin-top: 3px; margin-bottom: 10px;"
											   id="num-guests-unscheduled" ng-init="numGuestsRequest = 1;"
											   ng-model="numGuestsRequest"
											   class="form-control ng-pristine ng-valid select2-offscreen"
											   tabindex="-1">
								<option value="0" selected="selected">1</option>
								<option value="1">2</option>
								<option value="2">3</option>
								<option value="3">4</option>
								<option value="4">5</option>
								<option value="5">6</option>
								<option value="6">7</option>
								<option value="7">8</option>
								<option value="8">9</option>
								<option value="9">10</option>
								<option value="10">11</option>
								<option value="11">12</option>
								<option value="12">13</option>
								<option value="13">14</option>
								<option value="14">15</option>
								<option value="15">16</option>
								<option value="16">17</option>
								<option value="17">18</option>
								<option value="18">19</option>
								<option value="19">20</option>
							</select>
							</div>
						</div>
					</div>

				</div>
				<hr class="no-margin">
				<div>
					<div>
						<a id="requestABookingLink"
						   ng-href="/guest/book/565a1f6a993bcc7e1fe4bc79?date=&amp;numGuests=1"
						   style="color: #ffffff; border-bottom: 0;"
						   href="/guest/book/565a1f6a993bcc7e1fe4bc79?date=&amp;numGuests=1">
							<button
									type="button" style="margin-bottom: 5px;"
									class="btn btn-primary btn-block">Send Request
							</button>
						</a>
					</div>

				</div>
				<div class="push-twenty text-center">
					<!-- ngIf: meal.state != 'Incomplete' -->
					<span class="main-social-icons ng-scope"><a
							class="no-border"> <img
							src="//s3.amazonaws.com/bookalokal-assets/social/facebook.png"
							style="height: 25px; margin-left: 10px; cursor: pointer;"
							alt="Share on Facebook"></a> <a class="no-border"> <img
							src="//s3.amazonaws.com/bookalokal-assets/social/twitter.png"
							style="height: 25px; margin-left: 5px; cursor: pointer"
							alt="Share on Twitter"></a> <a class="no-border"> <img
							src="//s3.amazonaws.com/bookalokal-assets/social/twitter.png"
							style="height: 25px; margin-left: 5px; cursor: pointer"
							alt="Share on Twitter"></a> </span>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">

		<div class="row-fluid col-md-8 about-me-section jumbotron">
			<div class="">
				<div class="row-fluid text-center push-thirty">
					<h3 style="margin-top: 0;" class="green">More about the
						Host&nbsp;</h3>
					<div style="margin-top: -5px;">
						<small class=""><em class="muted ng-binding">Member
							since May 2015</em></small>
					</div>
				</div>
				<div class="row-fluid push-twenty text-center">
					<a ng-href="/user/55662e6c0a8199561423d09c"
					   href="/user/55662e6c0a8199561423d09c">
						<div
								ng-background-image="host.profile.common.picture"
								alt="Annie's Photo" class="img-circle meal-host-pic-large center"
								style="background-image: url(&quot;//d2j4un8xfk9t92.cloudfront.net/WyheYrMuTHuXX9K9Zasn_Me.png&quot;); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
							&nbsp;</div>
					</a>
					<div ng-show="host.host.verified =='Verified'"
						 style="margin-left: -10px;" class="verified text-center">
						<img
								src="//s3.amazonaws.com/bookalokal-assets/images/bookalokal_glass.png"
								alt="Verified Host" width="30" height="40"><span
							class="raleway semi-muted">Verified</span>
					</div>
				</div>
				<div ng-controller="ConversationController" ng-show="true"
					 class="row-fluid push-thirty-top ng-scope">
					<button ng-click="showCreateDialog(host, meal)"
							class="btn btn-primary">Contact Annie
					</button>
				</div>
				<div class="about-me-subsection push-thirty-top row-fluid">
					<div class="row-fluid push-thirty-top">
						<div class="span3">
							<span class="meal-subheaders">At a Glance</span>
						</div>
						<div class="span9 about-me-subheader">
							<div ng-show="host.profile.host.nationality.length > 0"
								 style="line-height: 20px;" class="ng-hide">
								<small>Nationality:&nbsp;</small>
								<!-- ngRepeat: nationality in host.profile.host.nationality -->
							</div>
							<div ng-show="host.profile.host.languages.length > 0"
								 style="line-height: 20px;" class="">
								<small>I speak:&nbsp;</small><span class="ng-binding">French,
									English</span>
							</div>
							<div ng-show="meal.data.coHost.length > 0"
								 style="line-height: 20px;" class="push-five">
								<small>Co-host:&nbsp;</small>
								<span class="ng-binding">Carla</span>
							</div>
							<div ng-show="host.profile.host.profession.length > 0"
								 class="push-five ng-hide">
								<small>Profession:&nbsp;</small><span
									style="text-transform: capitalize" class="ng-binding"></span>
							</div>
							<div ng-show="host.counters.meals.hostDone > 0" class="push-five">
								<small>Experiences hosted:&nbsp;</small><span
									style="text-transform: capitalize" class="ng-binding">2</span>
							</div>
						</div>
					</div>
					<div ng-show="host.profile.common.description.length > 0" class="">
						<div class="row-fluid push-twenty">
							<span class="meal-subheaders">About Me</span>
						</div>
						<div id="overflow-about" class="row-fluid">
							<div class=" ng-binding">Art lover, animation student and
								happy-go-lucky New Yorker with a taste for good food and wine.
							</div>
						</div>
					</div>
					<div ng-show="host.profile.host.cookingBackground.length > 0"
						 class="ng-hide">
						<div class="row-fluid push-thirty-top">
							<span class="meal-subheaders">Cooking Background</span>
						</div>
						<div id="overflow-background" class="row-fluid">
							<div class=" ng-binding"></div>
						</div>
					</div>
					<div ng-show="host.profile.host.randomFact.length > 0" class="">
						<div class="row-fluid push-thirty-top">
							<span class="meal-subheaders">Fun Fact</span>
						</div>
						<div id="overflow-fun-fact" class="row-fluid">
							<div class=" ng-binding">I once ate alligator on a stick!
								Tasted like chicken.
							</div>
						</div>
					</div>
					<div class="row-fluid push-thirty-top text-center">
						<strong><a ng-href="/user/55662e6c0a8199561423d09c"
								   href="/user/55662e6c0a8199561423d09c">View Full Profile</a></strong>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" class="row-fluid more-from-me-section">
			<div class="centered-reading-area">


			</div>
		</div>
	</div>

</div>
