<style>
.js-hero {
	display: none;
}
</style>
<link href="css/header.css" rel="stylesheet">
<div class="row-fluid login-bg landing-hero"
	ng-controller="registerController">

	<div class="relative">
		<div id="searchbox" class="search-field-area  ng-scope">
			<div class="search-background">
				<div class="search-input-area">
					<div class="row">
						<div class="col-md-12">
							Login via
							<div class="social-buttons">
								<a href="#" class="btn btn-primary facebook btn-fb"><i
									class="fa fa-facebook "></i> Facebook</a> <a href="#"
									class="btn btn-primary google btn-tw"><i
									class="fa fa-google-plus "></i> Google</a>
							</div>
							or
							<div class="bg-danger">{{registererrormessage}}</div>
							<form class="form" novalidate role="form" name="registerform"
								ng-submit="register(registerform)"
								ng-class="{ 'submitted' : registersubmitted === true}"
								accept-charset="UTF-8" id="login-nav">
								<div class="form-group">
									<label class="sr-only" for="nameInput">Name</label> <input
										type="text" ng-model="user.firstname" class="form-control"
										id="firstname" name="firstname" placeholder="First Name" required> <span
										class=" label label-danger"
										data-ng-show="registersubmitted  && registerform.firstname.$error.required">Please
										enter Name !</span>
								</div>
								<div class="form-group">
									<label class="sr-only" for="nameInput">Name</label> <input
										type="text" ng-model="user.lastname" class="form-control"
										id="lastname" name="lastname" placeholder="Last Name" required> <span
										class=" label label-danger"
										data-ng-show="registersubmitted  && registerform.lastname.$error.required">Please
										enter Name !</span>
								</div>
								<div class="form-group">
									<label class="sr-only" for="emailAddressInput">Email
										address</label> <input type="email" ng-model="user.email"
										class="form-control" id="email" name="email"
										placeholder="Email address" required> <span
										class=" label label-danger"
										data-ng-show="registersubmitted  && registerform.email.$error.required">Please
										enter Email !</span> <span class=" label label-danger"
										data-ng-show="registersubmitted  && registerform.email.$error.email">Please
										enter valid Email !</span>
								</div>
								<div class="form-group">
									<label class="sr-only" for="passwordInput">Password</label> <input
										type="password" ng-model="user.password" class="form-control"
										id="password" name="password" placeholder="Password" required>
									<span class=" label label-danger"
										data-ng-show="registersubmitted  && registerform.password.$error.required">Please
										enter password !</span>
								</div>
								<div class="form-group">
									<label class="sr-only" for="cityInput">City</label> <input
										type="text" ng-model="user.city" class="form-control"
										placeholder="city/country" id="Autocomplete"
							           class="form-control" vs-google-autocomplete name="Autocomplete" placeholder="city" required>
								</div>

								<div class="row-space-2 row-space-top-2">
									<div class="checkbox">
										<label> <input type="checkbox"><span
											class="checkbox-material"><span class="check"></span></span>
											I agree to the terms of service
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-primary modal-login-btn">Register</button>
							</form>
						</div>
						<h6 class="bottom text-center">
							already registered ?<a href="#/login"><b>Sign In</b></a>
						</h6>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>