
<link href="css/header.css" rel="stylesheet">
<div class="row-fluid login-bg landing-hero"
	ng-controller="loginController">

	<div class="relative">
		<div id="searchbox" class="search-field-area  ng-scope">
			<div class="search-background">
				<div class="search-input-area">
					<div class="row">
						<div class="col-md-12">
							Login via
							<div class="social-buttons">
								<a href="#" class="btn btn-primary facebook btn-fb"><i
									class="fa fa-facebook "></i> Facebook</a> <a href="#"
									class="btn btn-primary google btn-tw"><i
									class="fa fa-google-plus "></i> Google</a>
							</div>
							or Reset password
							<form novalidate class="form" role="form"
								name="changepasswordform" method="post"
								ng-class="{ 'submitted' : changepasswordsubmitted === true}"
								ng-submit="changePassword(changepasswordform)"
								accept-charset="UTF-8" id="login-nav">
								<div class="form-group">
									<label  for="exampleInputEmail2">{{resetuseremail}}</label>
								</div>
								
								<div class="form-group">
									<label class="sr-only" for="exampleInputPassword2">Password</label>
									<input type="password" required ng-model="user.newpassword1"
										class="form-control" name="newpassword1" id="newpassword1"
										placeholder="enter new Password"> <span
										class=" label label-danger"
										data-ng-show="changepasswordsubmitted  && changepasswordform.newpassword1.$error.required">Please
										enter new password!!</span>

								</div>

								<div class="form-group">
									<label class="sr-only" for="exampleInputPassword2">Password</label>
									<input type="password" required ng-model="user.newpassword2"
										class="form-control" name="newpassword2" id="newpassword2"
										placeholder="retypr new Password"> <span
										class=" label label-danger"
										data-ng-show="changepasswordsubmitted  && changepasswordform.newpassword2.$error.required">Please
										enter new password!!</span>

								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Change
										password</button>
								</div>


							</form>
						</div>
						<h6 class="bottom text-center">
							you have password ? <a href="#/login"><b>Sign In</b></a>
						</h6>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>