/* -----------------------------------*/
/* ---------->>> MASTER.CSS CSS for all global components HEADER+FOOTER <<<-----------*/
/* -----------------------------------*/

/*Global declare that page has  100% height Now split it in different parts  */
/*it covers most of part of header navbar and footer css and globally defined css*/
html {
	
}

/* ----------------Define global fonts and font family-------------------*/
/*Roboto Light font will  be used in all the pages its global declaration */
h1, h2, h3, h4, h5, h6, h7, h8 {
	font-family: 'Roboto Light', sans-serif !important;
	font-weight: 200;
}

.h1, h1 {
	font-family: "Roboto Light" !important;
}

.h1, .h2, .h3, h1, h2, h3 {
	font-family: "Roboto Light" !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Light" !important;
}

p {
	font-family: 'Roboto Light', sans-serif !important;;
}

body {
	font-family: 'Roboto Light', sans-serif !important;;
	font-size: 16px;
}

/* ----------------END-------------------*/
.row {
	margin: 0px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.bodyContent {
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
}

.main-page-container {
	min-height: 500px;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.page-loading .hidden {
	display: none;
}

.page-loading .show {
	display: block;
}

.btn-sm-override {
	padding: 5px 10px !important;
}

.btn-default-override {
	padding: 8px 10px !important;
}

btn-sm {
	padding: 5px 10px !important;
}

.btn {
	text-transform: none !important;
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e252"; /* adjust as needed, taken from bootstrap.css */
	float: left; /* adjust as needed */
	color: #f2f2f2; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e250"; /* adjust as needed, taken from bootstrap.css */
}

.btn-primary








:not




 




(
.btn-link




 




)
:not




 




(
.btn-flat




 




)
{
background-color








:




 




#009688








;
color








:




 




rgb








(255
,
255,
255);
}
.btn-styles {
	font-size: 18px;
	color: #ffffff !important;
}

.submitted .ng-invalid {
	border: 1px solid red;
}

.video-container {
	position: relative;
	padding-bottom: 23.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.label-danger {
	background-color: #f44336;
	float: left;
	margin: 3px;
}

.video-container iframe, .video-container object, .video-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.glyphicon.spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@
keyframes spin {from { transform:scale(1)rotate(0deg);
	
}

to {
	transform: scale(1) rotate(360deg);
}

}
@
-webkit-keyframes spin2 {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}

/********************Home page*****************************/
.popular-container {
	background-color: rgb(227, 105, 54);
	bottom: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul.inline, ol.inline {
	margin-left: 0;
	list-style: none;
}

.top-cities {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

.popular-container ul>li {
	margin-right: 30px;
}

ul.inline>li, ol.inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

li {
	line-height: 20px;
}

small {
	font-size: 85%;
}

.search-banner-header {
	display: table-cell;
	vertical-align: middle;
}

#search-page {
	margin: 0;
	height: 100%;
	width: 100%;
	min-width: 1100px;
}

.search-banner {
	width: 100%;
	min-width: 900px;
	height: 25vh;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: table;
	overflow: hidden;
}

.search-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.25)),
		url('//s3.amazonaws.com/bookalokal-assets/landing/landing-table.jpg');
}

#list-main-container {
	overflow: hidden;
	height: auto;
	width: 100%;
	background-color: #fff;
}

#list-filters-container {
	background-color: #fff;
	padding: 30px;
	height: auto;
	float: left;
	-moz-box-sizing: border-box;
	-webkkit-box-sizing: border-box;
	box-sizing: border-box;
}

.push-ten {
	margin-top: 10px;
}

#list-cards-container {
	background-color: #f2f2f2;
	padding: 20px;
	min-height: 600px;
	-moz-box-sizing: border-box;
	-webkkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 600px;
}

.map-container {
	height: 600px;
}

.map-container-canvas {
	/* position: fixed; */
	padding: 30px;
	right: 0;
	left: auto;
	top: 62px;
	/* width: 41.66%; */
}

.filter-title {
	padding: 10px 0px;
	text-align: left;
	text-transform: uppercase;
	white-space: normal;
	font-size: 13px;
	font-weight: 700;
	color: #555;
}

#list-filters-container .collapse-icon {
	text-align: right;
	position: absolute;
	top: 20px;
	right: 35px;
	color: #999;
	font-size: .9em;
}

.list-action-bar {
	min-width: 539px;
}

.left-bar {
	float: left;
	width: 280px;
	margin-top: 7px;
}

.list-cards-results {
	color: #555;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	width: 500px;
}

.center-bar {
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}

.right-bar {
	float: right;
	margin-top: -30px;
}

.viewModeSearch .nav-tabs {
	height: 33px;
	margin-bottom: 0;
	border-bottom: 0;
}

.viewModeSearch .nav>li>a:hover, .viewMode .nav>li>a:focus {
	color: #d5712d;
	font-size: 16px;
	font-weight: normal;
	background: 0;
	border: 0;
}

.viewModeSearch .nav-tabs>li>a, .viewMode .nav-pills>li>a {
	margin-right: 0;
	padding: 7px;
}

.viewModeSearch .nav>li>a:hover, .viewMode .nav>li>a:focus {
	color: #d5712d;
	font-size: 16px;
	font-weight: normal;
	background: 0;
	border: 0;
}

.angular-cities-slider {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	background: #e6e6e6;
	/* border: 20px solid #FFF; */
	/* margin-top: 20px; */
}

.lite-price-container {
	padding: 15px;
	background-color: #fff;
	opacity: .8;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
}

#search-host-area {
	padding: 10px;
	height: 130px;
	background-color: #ffffff;
	-moz-box-sizing: border-box;
	-webkkit-box-sizing: border-box;
	box-sizing: border-box;
}

#search-host-area .span2 {
	width: 65px;
}

.lite-host-pic {
	width: 60px;
	height: 60px;
}

#search-host-area .span9 {
	width: 213px;
}

.lite-meal-title {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 0;
	font-weight: 600;
	color: #333;
}

.quick-facts-bar {
	width: 100%;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-meal-title {
	font-family: 'Raleway';
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 32px;
	font-weight: 200;
	line-height: 30px;
	color: #444;
	letter-spacing: .5px;
	outline: 0;
}

.meal-host-pic-large {
	margin-bottom: 5px;
	width: 140px;
	height: 140px;
}

.user-formatting {
	font-family: 'Raleway';
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 14px;
}

.booking-module {
	border: 1px solid #d3d3d3;
	border-top: 4px solid #e16120;
	background-color: #fff;
	padding: 15px 20px 30px 20px;
}

.raleway {
	font-family: "Raleway", 'Helvetica Neue', Helvetica;
}

.green {
	color: #60a81a;
}

.text-center {
	text-align: center;
}

.meal-price {
	font-size: 48px;
	font-weight: 400;
	color: #555;
}

.fade-message {
	position: relative;
	height: 5.4em;
	overflow: hidden;
	line-height: 1.4em;
}

.main-city {
	margin-right: 15px;
	line-height: 40px;
	font-size: 15px;
	color: #e16120;
	display: inline;
	letter-spacing: .5px;
	font-weight: 400;
	font-style: normal;
	transition: color 150ms;
	outline: 0;
}

.row-fluid {
	width: 100%;
}

.divider-fork-horizontal {
	margin-top: 30px;
	width:;
}

.row-fluid .span11 {
	width: 91.48936170212765%;
}

.row-fluid .span11 {
	width: 91.48936170212765%;
}

#experience-details li {
	list-style: none;
}

.divider-fork-horizontal {
	margin-top: 30px;
	width:;
}

.row-fluid .span11 {
	width: 91.48936170212765%;
}

.row-fluid .span11 {
	width: 91.48936170212765%;
}

.about-me-section {
	background-color: #ece9df;
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 40px;
	padding-top: 30px;
	text-align: center;
}

.padding-tb {
	padding: 10px;
}