<!-- 
<footer id="main-footer"
	ng-class="state.current.name != 'home' ? 'main-footer-nonhome' : 'main-footer-home' "
	ng-if="state.current.name !== 'guest'">
	<div class="container"
		ng-class="state.current.name != 'home' ? 'footer-bg' : '' ">
		<section class="row footer-margin-top main-footer-row">
			<div class="col-sm-6 col-md-3">
				<div class="inner">
					<h4 class="commontxt">Home</h4>
					<ul>
						<li><a href="">Profile</a></li>
						<li><a href="">policy</a></li>
						<li><a href="">Terms & Condition</a></li>
						<li><a href=""> Business</a></li>
						<li><a href=""></a></li>
					</ul>

					<ul class="social-links list-inline">
						<li><a href="" target="_blank"><i
								class="fa fa-linkedin-square fa-2x"></i></a></li>
						<li><a href="" target="_blank"><i
								class="fa fa-facebook-square fa-2x"></i></a></li>
						<li><a href="" target="_blank"><i
								class="fa fa-twitter-square fa-2x"></i></a></li>
						<li><a href="" target="_blank"><i
								class="fa fa-google-plus-square fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="inner">
					<h4 class="commontxt">Profile</h4>
					<ul>
						<li><a href="">Login </a></li>
						<li><a href="">Register</a></li>
						<li><a href="">Profile</a></li>
					</ul>
					<h5>
						<a href="" target="_blank"><i class="fa fa-lock"></i> Admin
							Area</a>
					</h5>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="inner">
					<h4 class="commontxt">Contact</h4>
					<h5>
						<a href="">India New Delhi, 2310 - 41058 India (Del)</a><br>Tel.:
						<a href="tel://+39 059 776 865">+91 059 776 865</a> <br />e-mail:
						<a href="mailto:info@admin.com">info@admin.it</a>
					</h5>

				</div>
			</div>
		</section>
	</div>
</footer> -->


<div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog alakarte-main-model" role="document">
		<div class="modal-content info-modal-content modal-content-four">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true"><i class="fa fa-times"
						style="font-size: 30px;"></i></span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Stay Connected!</h4>
			</div>
			<div class="modal-body">

				<div class="page-container-responsive panel-contrast text-contrast">

					<h2 class="screen-reader-only">How It Works</h2>

					<div class="row space-top-8 text-center">

						<div class="how-it-works__step how-it-works__step-one col-md-4">
							<div class="panel-body">
								<div class="" style="font-size: 200px;">
									<i class="fa fa-plane"></i>
								</div>
								<h3>Discover Amazing Places</h3>
								<p>Find hosts with extra rooms, entire homes, and unique
									accommodations like castles and igloos.</p>
							</div>
						</div>

						<div class="how-it-works__step how-it-works__step-two col-md-4">
							<div class="panel-body">
								<div class="" style="font-size: 200px;">
									<i class="fa fa-globe"></i>
								</div>
								<h3>Book a Stay</h3>
								<p>Connect with hosts, confirm travel dates, and pay—all
									through Alacarte’s trusted services.</p>
							</div>
						</div>

						<div class="how-it-works__step how-it-works__step-three col-md-4">
							<div class="panel-body">
								<div class="" style="font-size: 200px;">
									<i class="fa fa-cutlery"></i>
								</div>
								<h3>Enjoy food</h3>
								<p>
									Feel at home, anywhere you go in the world. <a
										href="/help/getting-started/how-to-travel">Learn more</a>
									about how to get good food
								</p>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>


<footer id="main-footer"
	ng-class="state.current.name != 'home' ? 'main-footer-nonhome' : 'main-footer-home' "
	ng-if="state.current.name !== 'guest'" class="ng-scope">
	<div class="container"
		ng-class="state.current.name != 'home' ? 'footer-bg' : '' ">
		<div class="row">
			<div class="col-md-8 ">


				<div class="row">
					<div class="col-sm-4 col-md-4 item">
						<h4 class="title">Home</h4>
						<ul>
							<li><a href="">Profile</a></li>
							<li><a href="">policy</a></li>
							<li><a href="">Terms & Condition</a></li>
							<li><a href=""> Payment</a></li>
							<li><a href=""> FAQ</a></li>
							<li><a href=""> About</a></li>
							<li><a href=""> Customer care</a></li>
							<li><a href=""></a></li>
						</ul>
					</div>


					<div class="col-sm-4 col-md-4 item">
						<h4 class="title">Profile</h4>
						<ul>
							<li><a href="">Login </a></li>
							<li><a href="">Register</a></li>
							<li><a href="">Profile</a></li>
							<li><a href="">Guest</a></li>
							<li><a href="">Host</a></li>
							<li><a href="">Private Event</a></li>
							<li><a href="">Public Event</a></li>
							<h5>
								<a href="" target="_blank"><i class="fa fa-lock"></i> Admin
									Area</a>
							</h5>
						</ul>
					</div>
					
					<div class="col-sm-4 col-md-4 item">
						<h4 class="title">Connect</h4>
						<ul class="social-links list-inline">
							<li><a href="" target="_blank"><i
									class="fa fa-linkedin-square fa-2x"></i></a></li>
							<li><a href="" target="_blank"><i
									class="fa fa-facebook-square fa-2x"></i></a></li>
							<li><a href="" target="_blank"><i
									class="fa fa-twitter-square fa-2x"></i></a></li>
							<li><a href="" target="_blank"><i
									class="fa fa-google-plus-square fa-2x"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- footer-part-left -->

			<div class="col-md-4 ">
				<h4 class="title">Search</h4>

				<div class="search-field-holder collapsed">
					<form id="search-form-footer" autocomplete="off"
						class="ng-pristine ng-valid">
						<input type="text" id="st-search-input-footer"
							class="form-control input-search" autocomplete="off">
						<button type="submit" class="btn-submit icon-search"></button>
					</form>

				</div>
				<!-- search-field-holder -->


				<!-- terms-conditions-holder -->

				<div class="social-holder">
					<a href="https://twitter.com/tkssharma" class="icon-twitter"></a> <a
						href="https://www.facebook.com/tarun.sharma.msp.engg"
						class="icon-facebook"></a> <a href="" rel="publisher"
						class="icon-google-plus"></a>
				</div>
				<!-- social-holder -->
			</div>
			<!-- footer-part-right -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</footer>