<div class="collapse in col-md-12 visible-md visible-lg  "
	id="timerpanel">
	<div class="row well custom-well">
		<div class="col-md-12 col-sm-12 col-xs-12 ">

			<div class="col-md-6 col-sm-12 col-xs-12 ">
				<h4 class="timer-panel-light">What you will need at a glance:</h4>
				<ul class="list-unstyled">
					<li><table>
							<tr>
								<td class="timer-panel-text"><label><span
										class="badge custom-badge-info  ui-question-text-number">1</span></label></td>
								<td><h6 class="timer-panel-text">Information about
										where you live</h6></td>
							</tr>
						</table></li>
					<table>
						<tr>
							<td class="timer-panel-text"><label><span
									class="badge custom-badge-info  ui-question-text-number">2</span></label></td>
							<td><h6 class="timer-panel-text">Birth dates</h6></td>
						</tr>
					</table>
					<li>
						<table>
							<tr>
								<td class="timer-panel-text"><label><span
										class="badge custom-badge-info  ui-question-text-number">3</span></label></td>
								<td><h6 class="timer-panel-text">Contact Information</h6></td>
							</tr>
						</table>
					</li>
				</ul>

			</div>
		</div>
		<div class=" col-md-12 col-sm-12 col-xs-12  pull-right"
			style="padding-right: 15px;">
			<a href="" data-toggle="collapse" data-target="#timerpanel"
				class="btn  formbuttoncommon  pull-right btn-primary"><h6>
					Get Started</h6> </a>
		</div>
	</div>
</div>
<div class="col-md-12 visible-md visible-lg  ">
	<a href="" data-toggle="collapse" data-target="#timerpanel"><div
			class="host-collapse-panel">
			<span class="fa fa-bars header-icon"></span>
		</div> </a>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12  ">
		<h3 class='benefit-header3 common'>
			<span class=" fa-cutlery fa   "></span> My Experince

		</h3>
		<h5 class="headertxt ">
			<b>Enter a few details about your experience </b> <br> Below you
			can view applications you have submitted and continue editing open
			applications.<br>
		</h5>
	</div>

</div>


<!-- NAME -->
<div class="col-md-12">
	<div
		class="col-md-12 col-sm-12 col-xs-12 override-col-top override-col-margin">

		<div class="col-md-3 col-sm-12 col-xs-12  override-col-margin">
			<div
				class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin">
				<table>
					<tr>
						<td class="questionoptioncommon"><label>First Name<sup
								class="sup-style">*</sup>
						</label></td>
					</tr>
					<tr>
						<td><input required
							class="form-control override-form-control" capitalize-first
							data-toggle="tooltip" customtooltip data-placement="top"
							title="Enter First Name" type="text" maxlength="18" ng-model=""
							name="PP26" placeholder="First Name"></input></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-md-3 col-sm-12 col-xs-12  override-col-margin">
			<div
				class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin">
				<table>
					<tr>
						<td class="questionoptioncommon"><label>Middle Name </label></td>
					</tr>
					<tr>
						<td><input customtooltip
							class="form-control override-form-control"
							title="Enter Middle Name" name="PP41" maxlength="15"
							capitalize-first ng-model="" type="text" id="middlename"
							placeholder="Middle Name"></input></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-md-3 col-sm-12 col-xs-12  override-col-margin">
			<div
				class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin">
				<table>
					<tr>
						<td class="questionoptioncommon"><label>Last Name<sup
								class="sup-style">*</sup>
						</label></td>
					</tr>
					<tr>
						<td><input required
							class="form-control override-form-control" data-toggle="tooltip"
							customtooltip data-placement="top" capitalize-first ng-model=""
							name="PP42" placeholder="Last Name"> <span
							class=" label label-danger"
							data-ng-show="applicationInfo.tabstatus[1].submitted  &&  applicationpersonalQuestions.PP42.$error.required">
								You can't leave this empty!</span></td>
					</tr>
				</table>
			</div>
		</div>

	</div>





	<!--  Nick name end  -->

	<!-- Date of Birth and Gender status -->
	<div
		class="col-md-12 col-sm-12 col-xs-12 override-col-top override-col-margin">

		<div class="col-md-6 col-sm-12 col-xs-12  override-col-margin">
			<div
				class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin">
				<table>
					<tr>
						<td class="questionoptioncommon"><label>Date of Birth<sup
								class="sup-style">*</sup>
						</label></td>
					</tr>
					<tr>
						<td>
							<h6 class="input-group">
								<input required type="text" class="form-control" maxlength="28"
									data-toggle="tooltip" customtooltip data-placement="top"
									title="Enter Date of Birth" min-date="'01/01/1901'"
									max-date="maxDate" name="PP44" id="PP44"
									datepicker-popup="{{calendar.dateFormat}}"
									is-open="openDatePickers[2]" ng-maxlength="10"
									ng-model="applicationInfo.participants[parentIndex].prtcpBthDt"
									datepicker-options="calendar.dateOptions" close-text="Close"
									placeholder="mm/dd/yyyy" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event, 2)" id="calResizing">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</h6>
						</td>
					</tr>

				</table>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12 override-col-margin ">
			<div
				class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin">
				<table>
					<tr>
						<td class="questionoptioncommon"><label>Gender<sup
								class="sup-style">*</sup></label></td>
					</tr>
					<tr>
						<td><table>
								<tr class=" personalformlable">
									<td class="spacing personalformlable"><input
										ng-required="true" type="radio" ng-model="" name="PP45"
										value="Male"> Male</td>
									<td class="spacing personalformlable"><input
										ng-required="true" type="radio" ng-model="" name="PP45"
										value="FeMale"> FeMale</td>
								</tr>
							</table></td>
					</tr>
				</table>

			</div>

		</div>

		<div
			class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin override-col-top">
			<div>
				<table>
					<tr>
						<td class="questionoptioncommon"><label>Email Id </label></td>
					</tr>
					<tr>
						<td><table>
								<tr>
									<td><input type="email" data-toggle="tooltip"
										customtooltip data-placement="top" title="Enter Email"
										maxlength="255" ng-model="" name="pp"
										class="form-control override-form-control"
										placeholder="test@mystateservices.com"></td>
								</tr>
								<tr>
									<td></td>
								</tr>
							</table></td>
					</tr>
				</table>
			</div>
		</div>

	</div>

	<div
		class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin override-col-top">
		<div>
			<table>
				<tr>
					<td class="questionoptioncommon"><label>City </label></td>
				</tr>
				<tr>
					<td><table>
							<tr>
								<td><input type="email" data-toggle="tooltip" customtooltip
									data-placement="top" title="Enter Email" maxlength="255"
									ng-model="" name="pp"
									class="form-control override-form-control" placeholder="city"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</table></td>
				</tr>
			</table>
		</div>
	</div>
	<div
		class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin override-col-top">
		<div>
			<table>
				<tr>
					<td class="questionoptioncommon"><label>State</label></td>
				</tr>
				<tr>
					<td><table>
							<tr>
								<td><input type="email" data-toggle="tooltip" customtooltip
									data-placement="top" title="Enter Email" maxlength="255"
									ng-model="" name="pp"
									class="form-control override-form-control" placeholder="state"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</table></td>
				</tr>
			</table>
		</div>
	</div>
	<div
		class="col-xs-12 col-sm-12  col-md-12 col-lg-12 override-col-margin override-col-top">
		<div>
			<table>
				<tr>
					<td class="questionoptioncommon"><label>Street Address </label></td>
				</tr>
				<tr>
					<td><table>
							<tr>
								<td><input type="email" data-toggle="tooltip" customtooltip
									data-placement="top" title="Enter Email" maxlength="255"
									ng-model="" name="pp"
									class="form-control override-form-control"
									placeholder="Address"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</table></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<br/>
<br/>